<!DOCTYPE html>
<html lang="en">
  <head>
  
  	<title>hackSociety</title>
    <meta charset="utf-8"> 
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </head>
  <style type="text/css">
  	.jumbotron{
  		background-color:#D9EBF1;
  		text-align:center;
	}

	.well {
		background-color: #aec6cf;
	}

	p {
		font-family: 'Roboto', serif;
        font-size: 14px;
        font-weight: bold;
	}

  </style>

  <body>
  	<div class="jumbotron text-center">
  		<h1>hacksociety</h1>
  		<p>Hackathon Profile</p> 
  		<a class="btn btn-primary btn-sm" href="#" role="button">Login with Facebook</a>
	</div>

<div class="container text-center">
  <div class="row">

    <div class="col-sm-3">
      <div class="well">
        <p>My Profile</p>
        <img src="/tree.png" class="img-rounded" height="100" width="100" alt="profilepic">
        </div>
        <br>	
		<div class="well">
	        <p>Interests</p>
	        <p>
	          <span class="label label-default">Virtual Reality</span>
	          <span class="label label-primary">Mobile Dev</span>
	          <span class="label label-success">Web Dev</span>
	          <span class="label label-info">Data Analytics</span>
	          <span class="label label-warning">IoT</span>
	          <span class="label label-danger">Hardware</span>
	        </p>
	      </div>
	    </div>
	    <div class="col-sm-4">
	     <div class="well">

	   		<p>My Hackathon Experience</p>

	   	 </div>
    	</div>

    	<div class="col-sm-5">
	     <div class="well">

	   		<p>Skills</p>

	   	 </div>
    	</div>
	</div>
</div>

<div class="container ">
	<p>Hackathon This Weekend</p>

	<select class="form-control" id="sel2">
		 <option>Y-Hack at Yale</option>
		 <option>Hack Princeton</option>
	</select>
</div>


  </body>
</html>