<!DOCTYPE html>
<html lang="en">
  <head>
  
  	<title>hackSociety</title>
    <meta charset="utf-8"> 
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <style type="text/css">
  	.jumbotron{
  		background-color:#D9EBF1;
  		text-align:center;

	}

  .form
  {
    padding-right: 50px;
  }

  p {
        font-family: 'Roboto', serif;
        font-size: 20px;
        font-weight: bold;
  }


  </style>
  <body>
  	<div class="jumbotron text-center">
  		<h1>hacksociety</h1>
  		<p>Hackathon Profile</p> 
	</div>
  <div class="container">
  <div class="row">
  <p align="left" > New Profile</p>
  <form><br>
   <div class="form-group ">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="uni">University</label>
    <input type="university" class="form-control" id="uni">
  </div>

  <div class="form-group">
    <label for="gradyear">Graduation Year</label>
    <select class="form-control" id="sel1">
      <option>2016</option>
      <option>2017</option>
      <option>2018</option>
      <option>2019</option>
      <option>2020</option>
      <option>2021</option>
      <option>2022</option>
      <option>2023</option>
      <option>2024</option>
    </select>
  </div>
  <div class="form-group">
    <label for="hackexp">Hackathon Experience</label>
    <select class="form-control" id="sel2">
      <option>Newbie</option>
      <option>I've been to a few.</option>
      <option>I have attended several hackathons.</option>
      <option>I go to one every weekend.</option>
    </select>
  </div>
<br>
  <div>
    <label for="Skills">Skills</label>
    <table class="table">
    <thead class="thead">
      <tr>
        <th>Programming Languages</th>
        <th>Beginner</th>
        <th>Intermediate</th>
        <th>Advanced</th>
        <th>N/A</th>
      </tr>
    </thead>
    <tbody>
     
     </div>
    <tr>
      <th scope="row">JavaScript</th>
      <td><label><input type="radio" name="jsradio"></label></td>
      <td><label><input type="radio" name="jsradio"></label></td>
      <td><label><input type="radio" name="jsradio"></label></td>
      <td><label><input type="radio" name="jsradio"></label></td>
    </tr>
    <tr>
      <th scope="row">Java</th>
      <td><label><input type="radio" name="jradio"></label></td>
      <td><label><input type="radio" name="jradio"></label></td>
      <td><label><input type="radio" name="jradio"></label></td>
      <td><label><input type="radio" name="jradio"></label></td>
    </tr>
    <tr>
      <th scope="row">PHP</th>
      <td><label><input type="radio" name="phpradio"></label></td>
      <td><label><input type="radio" name="phpradio"></label></td>
      <td><label><input type="radio" name="phpradio"></label></td>
      <td><label><input type="radio" name="phpradio"></label></td>
    </tr>
    <tr>
      <th scope="row">Python</th>
      <td><label><input type="radio" name="pradio"></label></td>
      <td><label><input type="radio" name="pradio"></label></td>
      <td><label><input type="radio" name="pradio"></label></td>
      <td><label><input type="radio" name="pradio"></label></td>
    </tr>

    <tr>
      <th scope="row">C/C++</th>
      <td><label><input type="radio" name="cradio"></label></td>
      <td><label><input type="radio" name="cradio"></label></td>
      <td><label><input type="radio" name="cradio"></label></td>
      <td><label><input type="radio" name="cradio"></label></td>
    </tr>
    <tr>
      <th scope="row">Ruby</th>
      <td><label><input type="radio" name="rubyradio"></label></td>
      <td><label><input type="radio" name="rubyradio"></label></td>
      <td><label><input type="radio" name="rubyradio"></label></td>
      <td><label><input type="radio" name="rubyradio"></label></td>
    </tr>
    <tr>
      <th scope="row">Swift</th>
      <td><label><input type="radio" name="swiftradio"></label></td>
      <td><label><input type="radio" name="swiftradio"></label></td>
      <td><label><input type="radio" name="swiftradio"></label></td>
      <td><label><input type="radio" name="swiftradio"></label></td>
    </tr>
    <tr>
      <th scope="row">HTML/CSS</th>
      <td><label><input type="radio" name="htmlradio"></label></td>
      <td><label><input type="radio" name="htmlradio"></label></td>
      <td><label><input type="radio" name="htmlradio"></label></td>
      <td><label><input type="radio" name="htmlradio"></label></td>
    </tr>
    
  </tbody>
</table>
</div>
  <label for="Interests">Interests</label> <br>
  <div class="checkbox">
    <label> <input type="checkbox">Virtual Reality</label>
    </div>
   <div class="checkbox"> <label> <input type="checkbox">Mobile Development</label> </div>
   <div class="checkbox"> <label> <input type="checkbox">Web Development</label> </div>
   <div class="checkbox"> <label> <input type="checkbox">IoT</label> </div>
   <div class="checkbox"> <label> <input type="checkbox">Big Data</label> </div>
  <br>
  </form>
   <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
  </body>

  </html>


